<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="DefaultConnectionStringName" value="DefConnStr" />
		<add key="SBServiceEndpoint" value="http://10.130.5.95:1234/HighwaySbSoap" />
		<add key="SBClientName" value="SyncBusSenderClient" />
		<add key="Time" value="3600" />
	  <add key="EnableXSDValidation" value="true" />
	  <add key="XMLMessagePath" value="../../../ServiceBus.ObjectMessageModel/TestXMLMessages/" />
	  <add key="XSDSchemasPath" value="../../../ServiceBus.ObjectMessageModel/XSDSchemas/" />
	</appSettings>
	<connectionStrings>
		<add name="DefConnStr" connectionString="Server=10.130.5.95;Port=25432;User Id=postgres;Password=qaz123;Database=sync;Keepalive=30" providerName="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService" />
	</connectionStrings>
	<log4net>
	  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	    <layout type="log4net.Layout.PatternLayout">
	      <conversionPattern value="%date %-5level %logger - %message%newline" />
	    </layout>
	  </appender>
	  <appender name="LogFileErrorAppender" type="log4net.Appender.RollingFileAppender">
	    <file value="logs\" />
	    <threshold value="Error" />
	    <appendToFile value="true" />
	    <rollingStyle value="Date" />
	    <datePattern value="yyyy-MM-dd'-errors.log'" />
	    <preserveLogFileNameExtension value="true" />
	    <staticLogFileName value="false" />
	    <layout type="log4net.Layout.PatternLayout">
	      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
	    </layout>
	  </appender>
		<appender name="AdoNetAppender" type="ICSSoft.STORMNET.CustomAdoNetAppender">
			<bufferSize value="0" />
			<connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
			<ConnectionStringName value="DefConnStr" />
		  <ReconnectOnError value="true" />
			<commandText value="INSERT INTO ApplicationLog (primaryKey,Category,Timestamp,MachineName,ProcessName,ThreadName,Message,FormattedMessage) VALUES (uuid_in(md5(random()::text || now()::text)::cstring), :log_level, :log_date, :machine, :logger, :appname, :message, :exception)" />
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="64" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@machine" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@appname" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%appname" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="2500" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="AdoNetAppender" />
		</root>
	</log4net>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.8.0" newVersion="3.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
		<alias alias="IDataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business" />
		<alias alias="ISecurityManager" type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" />
		<alias alias="DataServiceType" type="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService" />
		<container>
			<register type="IDataService" mapTo="DataServiceType">
				<constructor />
			</register>
			<register name="dataServiceForSecurityManager" type="IDataService" mapTo="DataServiceType">
				<constructor>
					<param name="securityManager" type="ISecurityManager">
						<dependency name="securityManagerWithoutRightsCheck" />
					</param>
				</constructor>
				<property name="CustomizationStringName" dependencyType="System.String" value="DefConnStr" />
			</register>
			<register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject">
				<!--Flexberry security setting. Used by Flexberry ORM.-->
			</register>
			<register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
				<lifetime type="singleton" />
				<constructor />
			</register>
		</container>
	</unity>
</configuration>