<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="serviceBusListener" type="Synchronization.Common.Configuration.ServiceBusListenerConfigSection, Synchronization.Common" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="DataServiceType" value="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService" />
    <add key="SBListenerServiceAddress" value="http://localhost:1236/BusListenerService" />
    <add key="AppName" value="MSR" />
    <add key="XMLMessagePath" value="TestXMLMessages\" />
    <add key="XSDSchemasPath" value="XSDSchemas\" />
    <add key="EnableXSDValidation" value="true" />
    <add key="OnlySelfRollbackFromAudit" value="False" />
  </appSettings>
  <serviceBusListener>
    <messageTypes>
      <add messageTypeId="ToMSRfromReestrMSPCatalogDataChanges" class="ServiceBus.ObjectMessageModel.ToMsrFromReestrMspCatalogDataChanges, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToMSRfromReestrMSPCatalogItemsResponse" class="ServiceBus.ObjectMessageModel.ToMsrFromReestrMspCatalogItemsResponse, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToMSRfromReestrMSPFiasDataChanges" class="ServiceBus.ObjectMessageModel.ToMsrFromReestrMspFiasDataChanges, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToMSRfromReestrMSPFiasItemsResponse" class="ServiceBus.ObjectMessageModel.ToMsrFromReestrMspFiasItemsResponse, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToMSRfromReestrMSPMergedItems" class="ServiceBus.ObjectMessageModel.ToMsrFromReestrMspMergedItemsResponse, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToMSRfromTU" class="ServiceBus.ObjectMessageModel.ToMsrFromTUResponse, ServiceBus.ObjectMessageModel" />
      <add messageTypeId="ToTUfromMsr" class="ServiceBus.ObjectMessageModel.ToTUFromMsrResponse, ServiceBus.ObjectMessageModel" />
    </messageTypes>
  </serviceBusListener>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.8.0" newVersion="3.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="IDataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business" />
    <alias alias="DataServiceType" type="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService" />
    <container>
        <register type="IDataService" mapTo="DataServiceType" name="AppDataService">
          <constructor />
        </register>
        <register type="IDataService" mapTo="DataServiceType" name="SyncDataService">
          <constructor />
        </register>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject">
        <!--Flexberry security setting. Used by Flexberry ORM.-->
      </register>
      <register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
        <lifetime type="singleton" />
        <constructor />
      </register>
    </container>
  </unity>
</configuration>