<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DefConnStr" connectionString="Server=dbapp;Port=5432;User Id=postgres;Password=qaz123;Database=WebEAIS;Keepalive=30;" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="SyncService" connectionString="Server=dbapp;Port=5432;User Id=postgres;Password=qaz123;Database=sync;Keepalive=30;" />
  </connectionStrings>
</configuration>